<ul>
{{#each monuments}}
  <li>
  {{#if monument_article}}
    <a href="https://fr.wikipedia.org/wiki/{{monument_article}}">
  {{else}}
    <a>
  {{/if}}
      <aside class="pack-end">
      {{#if image}}
        <img src={{thumburl}}>
      {{/if}}
      </aside>
      <p>{{name}}</p>
      <p>{{address}}</p>
    </a>
  </li>
{{/each}}
</ul>
